themes {
  kanagawa { 
    fg "#DCD7BA"
    bg "#1F1F28"
    black "#16161D"
    red "#E82424"
    green "#76946A"
    yellow "#FF9E3B"
    blue "#658594"
    magenta "#957FB8"
    cyan "#7E9CD8"
    white "#C8C093"
    orange "#FFA066"
    gray "#727169"
    border "#54546D"
    selection_bg "#2D4F67"
    selection_fg "#DCD7BA"
    cursor "#363646"
    cursor_fg "#DCD7BA"
    line_number "#54546D"
    match_bg "#2B3328"
    match_fg "#DCD7BA"
    hint_bg "#6A9589"
    hint_fg "#DCD7BA"
    error_bg "#43242B"
    error_fg "#E82424"
    warning_bg "#49443C"
    warning_fg "#FF9E3B"
    info_bg "#252535"
    info_fg "#658594"
  }
}
